* {
  margin: 0;
  padding: 0;
}

body {
  font-family: forma-djr-deck, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";
}

/*HEADER*/

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  height: 15vh;
}

.header-top,
.user-tabs {
  display: flex;
  justify-content: space-between;
}

.search input[type=image] {
  transform: scale(1);
  margin-bottom: -4px;
  margin-right: 2px;
}

.search input[type=text] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #999;
  background-color: rgb(221, 221, 221);
  opacity: .5;
}

.user-tabs input[type=image] {
  margin-top: 4px;
  margin-right: 9px;
  height: 16px;
  width: 16px;
}

.user-tabs div {
  font-weight: 600;
  margin-top: 4px;
  margin-left: 7px;
}

.user-tabs span {
  margin-left: 10px;
  font-weight: 700;
}

.header-bottom,
.user-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-intro {
  margin-left: 10px;
  font-weight: 500;
}

.user-intro p:nth-child(even) {
  font-weight: 700;
}

button {
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(214, 214, 214);
  padding: 10px 25px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0 5px;
}

/*SIDEBAR*/

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  padding: 15px;
  background-color: rgb(214 214 214);
}

.dashboard-logo {
  display: flex;
  gap: 10px;
  height: 10vh;
}

.dashboard-text {
  margin-top: 10px;
  font-weight: 500;
}

.nav-links div {
  font-weight: 400;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

div img {
  margin-right: 10px;
  vertical-align: middle;
}

.link-settings {
  margin-top: 50px;
}

/*MAIN CONTENT*/

/*CONTENT 1*/

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "content-1 content-2";
}

.content-1 {
  grid-area: content-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr;
  grid-template-areas: 
  "card-header card-header"
  "card card"
  "card card"
  "card card";
}

.card-header {
  grid-area: card-header;
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
}

.card {
  background-color: rgb(224, 225, 226);
  margin: 10px;
}

/* CONTENT 2*/

.content-2 {
  grid-area: content-2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr 20px 1fr;
  grid-template-areas: 
  "card-header-2"
  "card-2"
  "card-header-3"
  "card-3";
}

.card-header-2,
.card-header-3 {
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
}

.card-2,
.card-3 {
  background-color: rgb(224, 225, 226);
  margin: 10px;
}